voxel_down_size: 0.01
filter: statistical_outlier_removal
params_for_filter:
  nb_neighbors: 10
  std_ratio: 4.0
skeletonization: 
  category: thinning
  core_algorithm: sparse_conv_based_contraction
  params_for_core_algorithm:
    ckpt_path: ckpts/for_leafon_seasons.pth
    batch_size: 16
    max_iteration: 10
    device: cuda
    voxel_size: 0.01
    cube_size: 4.0
    buffer_size: 0.4
    use_chamfer_distance: True
  voxel_size_for_downsampling: 0.01
  edge_search_param: 0.
  edge_weight_function: squared_l2_norm
  topology_extractor: spt
refinement: 
  trusted_aboveground_height: 1.3
  trusted_height_ratio: 0.2
  min_radius_weight: !!float 1.0e-6
  x0_on_gamma_pdf: ~
  y0_on_gamma_pdf: ~
  wpl_based_correction_fn_for_radius_weights: "lambda radius_weights, wpls: radius_weights * (np.log(wpls + 1.0) / np.log(np.max(wpls) + 1.0))"
  min_radius: !!float 1.0e-3
  occupancy_factor: 1.1
  weight_fem_pos_deviation: !!float 1.0e10
  weight_path_length: 1.0
  weight_ref_deviation: 1.0
  smooth_bound: 0.05
  use_max_depth_instead_of_wpl: False
  use_log_length: True
  radius_tolerance: 0.1
  allometric_equation_without_intercept: "lambda x, params: params[0] * x ** params[1]"
  allometric_init_params: 
    - !!float 4.0e-3
    - 3.0
  allometric_param_lower_bounds:
    - !!float 1.0e-6
    - 1.5
  allometric_param_upper_bounds:
    - !!float 1.0e6
    - 4.5
  trunk_intercept_lower_bound: 0.0
  trunk_intercept_upper_bound: !!float 1.0e6
  init_trunk_intercept: 0.0
  lambda_squared_intercept_trunk: 1.0
  lambda_squared_intercept_branch_curve: "lambda wpl, wpl_max: (1.0 / 10.0) ** (np.log(wpl + 1.0) / np.log(wpl_max + 1.0)) * 10.0"
  min_num_credible_samples: 5
  twigs_are_thinner: True
modeling:
  num_sectional_vertices: 20
  use_furcation_optimization: True
  min_radius: !!float 1.0e-3
  lambda_squared_distance: 1
  resolution: 0.01
  range_multiplier: 2.0
  num_sectional_vertices_for_optimization: 12
  rdp_epsilon: 0.01
  num_hermite_nodes: 8